<div class="card" style="width: 20rem;">
  <%= image_tag photo.url, class: "card-img-top", alt: "Card image cap" %>
  <div class="card-block">
    <h1>Photos#index</h1>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>